<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProfesseurController</servlet-name>
        <servlet-class>controllers.ProfesseurController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CycleControlleur</servlet-name>
        <servlet-class>controllers.CycleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClasseController</servlet-name>
        <servlet-class>controllers.ClasseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfesseurController</servlet-name>
        <url-pattern>/Professeurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CycleControlleur</servlet-name>
        <url-pattern>/Cycles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClasseController</servlet-name>
        <url-pattern>/Classes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
